.footer {
    background-color: rgb(30, 62, 89);
    color: white;
    padding: 2rem;
    text-align: center;


    &__pages-links, &__social-media-links {
        list-style: none;
        padding: 10px;
        margin: 0 0 1rem 0;
        cursor: pointer;


        li {
            margin: 0.5rem 0;

            a {
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $orange;
                }
            }
        }
    }

small {
    display: block;
    margin-top: 1rem;
    color: $white;

    &:last-child {
        margin-top: 0.5rem;
        color: $orange;
    }
}

@media (min-width: 768px) {
    .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    }

    &__small {
        width: 33%;
        text-align: center;
        order: 1;
    }

    &__social-media-links {
        width: 33%;
        text-align: center;
        order: 2;
    }

    &__pages-links {
        width: 33%;
        text-align: center;
        order: 3;
    }

}
}