@media (min-width: 768px) and (max-width: 1024px) {
    .cover {
        height: 70vh;
    }

    .cover__title {
    font-size: 2.5rem;
    }

    .spotlight {
        padding: 2rem;
    }

    .spotlight__category {
        font-size: 0.8rem;
    }

    .spotlight__text {
        font-size: 1rem;
}
}

@media (min-width: 768px) {
    .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    &__button {
        display: flex;
        justify-content: center;
        grid-column: 1/-1;
    }
}
}

@media (min-width: 1024px)  {
    .cover {
        height: 60vh;
    }
}