<footer class="footer">
    <div class="footer__container">
        <ul class="footer__pages-links">
            <li><a href="https://adalab.es">ARTICLES</a></li>
            <li><a href="https://adalab.es"></a>BOOKS</li>
            <li><a href="https://adalab.es"></a>EVENTS</li>
            <li><a href="https://adalab.es"></a>REASONS</li>
            <li><a href="https://adalab.es"></a>TIPS</li>
        </ul>

        <ul class="footer__social-media-links">
            <li><a href="https://adalab.es/"><a>TWITTER</li>
            <li><a href="https://adalab.es/"><a>INSTAGRAM</li>
            <li><a href="https://adalab.es/"><a>MASTODON.SOCIAL</li>

        </ul>

        <small>&copy;2024</small>

        <small>we &#x2764; components</small>

    </div>

</footer>